<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UrBuddi testng">

	<test name="UrBuddi Testspecs">
		<classes>
			<class name="urBuddi.Tests.Test_Apply_Cancel_LeaveTestSpec" />
			<class name="urBuddi.Tests.Test001_LoginTestSpec" />
			<class name="urBuddi.Tests.Test003_Add_Edit_Delete_EmployeeWithEmployeeRoleTestSpec" />
			<class name="urBuddi.Tests.Test004_Add_Edit_Delete_EmployeeWithAdminRoleTestSpec" />
			<class name="urBuddi.Tests.Test005_Add_Edit_Delete_EmployeeWithHRRole" />
			<class name="urBuddi.Tests.Test006_Add_Edit_Delete_EmployeeWithLeadRole" />
			<class name="urBuddi.Tests.Test007_Add_Edit_Delete_EmployeeWithDegreeQualification" />
			<class name="urBuddi.Tests.Test008_Add_Edit_Delete_EmployeeWithBTechQualification" />
			<class name="urBuddi.Tests.Test009_Add_Edit_Delete_EmployeeWithPGQualification" />
			
		</classes>
	</test>
</suite>
