<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UrBuddi testng">

	<test name="UrBuddi Testspecs">
		<classes>
			<class name="urBuddi.Tests.Test01_LoginTestSpec" />
			<class name="urBuddi.Tests.Test02_AddEmployeeTestSpec" />
			<class name="urBuddi.Tests.Test03_DeleteAddEmployeeTestSpec" />
			<class name="urBuddi.Tests.Test04_EditEmployeeAfterAddTestSpec" />
			<class name="urBuddi.Tests.Test05_DeleteAddEmployeeAfterEditTestSpec" />
			<class name="urBuddi.Tests.Test06_Add_Edit_DeleteEmployeeWithAdminRoleTestSpec" />
		</classes>
	</test>
</suite>
